---
---
<div>
    <nav class="flex justify-between py-8">
        <div>Logo</div>
       <ul class="flex gap-4">
        <li>Nav 1</li>
        <li>Nav 2</li>
        <li>Nav 3</li>
        </ul>
    </nav>
</div>
